section{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 18%;
}

@media screen and (min-width: 320px) and (max-width: 350px){
    section{
        margin-left: 5%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 350px) and (max-width: 380px){
    section{
        margin-left: 2%;
        margin-right: 0;
    }
}

@media screen and (min-width: 380px) and (max-width: 480px){
    section{
        margin-left: 4%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 480px) and (max-width: 600px){
    section{
        margin-left: 3%;
        margin-right: 10%;
    }
}
@media screen and (min-width: 600px) and (max-width: 740px){
    section{
        margin-left: 5%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 740px) and (max-width: 940px){
    section{
        margin-left: 5%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 940px) and (max-width: 1024px){
    section{
        margin-left: 6%;
        margin-right: 10%;
    }
}