*{
    --white: #ffffff;
    --background__color: blueviolet;
    --light__green: chartreuse;
    --border__radius: 8px;
    box-sizing: border-box;
}
.home-icon{
    width: 30px;
    margin-right: 50px;
}

.menu-dropdown{
    background: var(--background__color);
    width: 100%;
    height: 80px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgb(57, 7, 173);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}

.menu-dropdown_item, #sub-menu_titulo{
    width: 150px;
    font-size: 18px;
}

.sub_menu{
    list-style: none;
    background-color: var(--background__color);
    margin-left: -1.5rem;
    border-bottom-left-radius: var(--border__radius);
    border-bottom-right-radius: var(--border__radius);
    position: absolute;
    visibility: hidden;
    z-index:+1;
}

.menu-dropdown_item:hover .sub_menu{
    visibility: visible;
}

.sub_menu li{
    padding: 10px;
    text-align: center;
    width: 150px;
    
}

.menu-dropdown_link{
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #f7f7ff;

}

.sub_menu .menu-dropdown_link:hover{
    color: chartreuse;
    font-size: 20px;
    transition: all 0.2s;
}

#logo {
    width: 82px;
    height: 82px;
    margin-right: 780px;
}

#menu__mobile{
    display: none;
}

#sub-menu_link{
    text-decoration: none;
    color: var(--white);
    margin-left: .8rem;
}

@media screen and (min-width: 320px) and (max-width: 1024px){
    .home-icon{
        margin-left: 20px;
    }

    #sub-menu_titulo{
        margin-left: -28.5px;
    }
    #logo{
        display: none;
    }
    .menu-dropdown{
        width: 96vw;
        padding-left: 3px;
        margin-left: .6rem;
        margin-right: 0;
        border-bottom-left-radius: var(--border__radius);
        border-bottom-right-radius: var(--border__radius);
        justify-content: center;
    }

    .menu-dropdown_item, #sub-menu_link{
        font-size: 20px;
        line-height: 1.5rem;
        padding: 2px 0;
    }
    #menu__mobile{
        display: block;
        width: 2.5rem;
        margin-top: .5rem;
        margin-left: .5rem;
    }

    #menu_mobile{
        display: none;
    }

    #menu_mobile_active{
        
        height: 90px;
    }

    #sub_menu{
        display: none;
    }

    #sub_menu_active{
        width: 9.5rem;
        height: 170px;
        display: block;
        margin-left: -45px;
        visibility: visible;
        
    }

    #sub_menu_active li{
        padding: 1.5px;
        text-align: center;
    }

    #sub_menu_active .menu-dropdown_link{
        color: var(--light__green);
        font-weight: 400;
    }   
}